{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes: {{ bolo.nome }}</title>

    <link rel="stylesheet" href="{% static 'catalogo/style.css' %}">
</head>
<body>

    <h1>{{ bolo.nome }}</h1>

    <p><strong>Nome: </strong> {{ bolo.nome }}</p>
    <p><strong>Sabor: </strong> {{ bolo.sabor }}</p>
    <p><strong>Preco: </strong> {{ bolo.preco }}</p>
    <p><strong>Diponivel: </strong> {{ bolo.disponivel }}</p>

    {% if bolo.foto %}
        <img src="{{ bolo.foto.url }}" alt="Foto de {{ bolo.nome}}" width="150"/>
    {% else %}
        <p><i>Sem foto de perfil</i></p>
    {% endif %}

    <a href="{% url 'catalogo:editar_bolo' bolo.pk %}">Editar Bolo</a>
    <a href="{% url 'catalogo:apagar_bolo' bolo.pk %}">Apagar Bolo</a>

</body>
</html>